#root {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App {
  padding-top: 35px;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label {
  color: white;
  padding-right: 15px;
}

input {
  width: 400px;
  height: 25px;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 6px;
  background-color: #ffffff;
  border-color: #d8d8d8;
  border-style: solid;
  margin-left: 10px;
}

input#name {
  width: 250px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 2px;
  background-color: #ffffff;
  color: black;
  height: 20px;
}

input[type="color"] {
  width: 50px;
  padding: 0;
}

div.image {
  padding-left: 20px;
}

div.name, div.image {
  justify-content: flex-start;
}

div.name > input, div.image > input {
  height: 30px;
  font-size: 20px;
}

#input-list {
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 510px;
}

.field {
  padding: 10px;
}

.field.split {
  display: flex;
}

.field.split.colors {
  margin: 0 auto; 
}

.field.split.person-details {
  padding-bottom: 40px;
  border-bottom: 3px solid white;
  margin-bottom: 15px;
}

button {
  font-size: 20px;
  height: 45px;
  border-radius: 3px;
  border-width: 2px;
  cursor: pointer;
  margin: 5px 10px;
  align-self: flex-end;
}